<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Ejercicio-Fechas-Publicación" data-toc-modified-id="Ejercicio-Fechas-Publicación-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Ejercicio Fechas Publicación</a></span></li><li><span><a href="#Ejercicio-Tipo-de-Contrato-y-Subtipo-de-Contrato" data-toc-modified-id="Ejercicio-Tipo-de-Contrato-y-Subtipo-de-Contrato-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Ejercicio Tipo de Contrato y Subtipo de Contrato</a></span></li><li><span><a href="#Ejercicio-Duración-del-contrato" data-toc-modified-id="Ejercicio-Duración-del-contrato-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Ejercicio Duración del contrato</a></span></li></ul></div>

# Ejercicios Limpieza de Datos <a class="tocSkip">

por Mónica Tatiana Gutierrez B

version 0.1, Feb 2021

Parte de la clase Curso de visualización para ciencia de datos en Python

In [6]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) #Mostrar todas las columnas

In [22]:
start=time.time()
df_SECOP = pd.read_csv('Datos_SECOP.csv', 
                 sep = ',',
                 index_col=0,
                 dtype={
                     'Nit Entidad': str
                 })
df_SECOP.head()
print(f"seconds {time.time()-start}")

seconds 13.551516771316528

In [8]:
df_SECOP.shape

(781762, 26)

In [15]:
tabla=pa.Table.from_pandas(df_SECOP)
pq.write_table(tabla,"df_SECOP.parquet")

In [17]:
import os
os.getcwd()

'C:\\Users\\Personal\\Desktop\\Universidad y Estudios\\UNIVERSIDAD\\Semestre 2021-I\\Visualización para ciencia de datos en Python\\VisualAnalytics'

In [24]:
start=time.time()
tabla2=pq.read_table("df_SECOP.parquet")
tabla_pandas=tabla2.to_pandas()
print(f"seconds {time.time()-start}")

seconds 6.52527642250061

## Ejercicio Fechas Publicación

Teniendo en cuenta que existe una Fecha de Publicación del Proceso y una fecha de última publicación, realice la limpieza de formato de dichas variables. Defina una nueva variable en la que se calcule la diferencia de éstas dos fechas y responda si incluiría las dos fechas dentro de la fuente de datos.

*Utilice estadísticas descriptivas para responder la pregunta*

In [9]:
Dif=pd.to_datetime(df_SECOP["Fecha de Ultima Publicación"],format="%m/%d/%Y")-pd.to_datetime(df_SECOP["Fecha de Publicacion del Proceso"],format="%Y-%m-%d")

In [10]:
Dif.describe()

count                      781762
mean     -1 days +20:30:26.409572
std        0 days 08:27:47.428905
min             -1 days +00:00:00
25%               0 days 00:00:00
50%               0 days 00:00:00
75%               0 days 00:00:00
max               0 days 00:00:00
dtype: object

## Ejercicio Tipo de Contrato y Subtipo de Contrato
De acuerdo con las variables Contrato y Subcontrato, realice una tabla cruzada y responda ¿Vale la pena dejar ambas variables en la fuente de datos?

In [10]:
pd.crosstab(df_SECOP["Subtipo de Contrato"],df_SECOP["Tipo de Contrato"])

Tipo de Contrato,27 - Otros servicios,Acuerdo Marco,Alquiler de edificios,Arrendamiento Muebles,Comisión,Compraventa,Concesión,Consultoría,Decreto 092 de 2017,Interventoría,ND,No Especificado,Obra,Seguros,Servicios de aprovisionamiento,Suministros,Ventas de muebles
Subtipo de Contrato,,,,,,,,,,,,,,,,,
No Especificado,40200,962,7156,505,82,41921,104,4110,26740,4678,5068,4,11648,2142,591304,45029,109

## Ejercicio Duración del contrato
Teniendo en cuenta que la duración de los contratos tiene métricas diferentes, encuentre una estrategia para crear una nueva variable en la cuál se encuentre parametrizada la variable de duración del contrato.

In [4]:
df_SECOP['Unidad de Duracion'].value_counts()

Dias     390312
Meses    358815
ND        26337
Años       6298
Name: Unidad de Duracion, dtype: int64

In [5]:
df_SECOP[['Unidad de Duracion','Duracion']].sample(20)

       Unidad de Duracion  Duracion
790519                 ND         0
696871               Dias       343
700100              Meses         3
782972              Meses         1
686586               Dias      1130
551583               Años         2
203742                 ND         0
690716               Dias        90
597090              Meses        11
145981              Meses         6
709672               Dias       315
71428                Dias        90
722644               Dias        90
34270                Dias       127
584379               Dias       240
435109               Dias       340
134638               Dias        90
600530              Meses         2
203617              Meses         2
118702              Meses         2

In [5]:
if df_SECOP['Unidad de Duracion']=="Dias":
    df_SECOP["Duracion"]/30
elif df_SECOP['Unidad de Duracion'] == "Años":
    df_SECOP["Duracion"]*12
else:
    df_SECOP["Duracion"]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [3]:
if df_SECOP['Unidad de Duracion']=="Dias":
    df_SECOP["Duracion"]/30
elif df_SECOP['Unidad de Duracion'] == "Años":
    return df_SECOP["Duracion"]*12
else:
    return df_SECOP["Duracion"]

SyntaxError: 'return' outside function (<ipython-input-3-2cb7d7674c7f>, line 2)

In [4]:
len(df_SECOP)

781762